* {
    box-sizing: border-box;
}
.container {
    max-width: 500px;
    min-width: 100px;
    width: 100%;

    margin:0 auto;

    display: flex;
    flex-direction: column;
    border: 2px solid darkslategrey;
}

.inputLabel {
    display: flex;
    margin:20px;

}

.input {
margin-left: auto;
width: 60%;
outline:none;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}